VITE_GEMINI_API_KEY=tu_clave_de_gemini_aqui
VITE_FIREBASE_API_KEY=AIzaSyCDZrw28v4Zb_kVFLQLjcMKgLNgs1h9GJw
VITE_FIREBASE_AUTH_DOMAIN=fastingpro-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fastingpro-app
VITE_FIREBASE_STORAGE_BUCKET=fastingpro-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=725583095818
VITE_FIREBASE_APP_ID=1:725583095818:web:3204e059a065456369d7f3

